# **Mounting the drive**

In [ ]:
# Mounting the drive
#from google.colab import drive
#drive.mount('/content/drive')

### Importing Library

In [ ]:
import pandas as pd
import numpy as np
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer

### Loading the Data

In [ ]:
# Storing the path of the data file from the Google drive
path = '/content/drive/MyDrive/Hackathon/Datasets'

In [ ]:
# I am not quite sure how to add the files in google collab so if someone could help with that please
# on the left there is folder symbol called files
survey_data_train = pd.read_csv("Surveydata_train_(2).csv")
survey_data_test = pd.read_csv("Surveydata_test_(2).csv")
travel_data_train = pd.read_csv("Traveldata_train_(2).csv")
travel_data_test = pd.read_csv("Traveldata_test_(2).csv")

### Understanding the Data

#### Survey Data Train

In [ ]:
survey_data_train.head()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,98800004,0,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,98800005,1,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good

In [ ]:
survey_data_train.tail()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
94374,98894375,0,Poor,Ordinary,Good,Good,Convenient,Poor,Poor,Poor,Poor,Good,Good,Good,Needs Improvement,Good,Poor
94375,98894376,1,Good,Ordinary,Good,Good,Convenient,Needs Improvement,Excellent,Excellent,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Good
94376,98894377,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Acceptable,Good,Acceptable
94377,98894378,0,Needs Improvement,Ordinary,NaN,Needs Improvement,Convenient,Good,Needs Improvement,Good,Good,Acceptable,Good,Good,Good,Excellent,Good
94378,98894379,0,Acceptable,Ordinary,Poor,Acceptable,Manageable,Acceptable,Acceptable,Acceptable,Acceptable,Poor,Good,Good,Poor,Good,Acceptable

In [ ]:
survey_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_Comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_Time_Convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_Location        94349 non-null  object
 7   Onboard_Wifi_Service     94349 non-null  object
 8   Onboard_Entertainment    94361 non-null  object
 9   Online_Support           94288 non-null  object
 10  Ease_of_Online_Booking   94306 non-null  object
 11  Onboard_Service          86778 non-null  object
 12  Legroom                  94289 non-null  object
 13  Baggage_Handling         94237 non-null  object
 14  CheckIn_Service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_Boarding          94373 non-null  object
dtypes: int64(2), object(15)
memory usage: 12.2+ MB

In [ ]:
survey_data_train.describe()

                 ID  Overall_Experience
count  9.437900e+04        94379.000000
mean   9.884719e+07            0.546658
std    2.724501e+04            0.497821
min    9.880000e+07            0.000000
25%    9.882360e+07            0.000000
50%    9.884719e+07            1.000000
75%    9.887078e+07            1.000000
max    9.889438e+07            1.000000

In [ ]:
survey_data_train.isnull().sum()

ID                            0
Overall_Experience            0
Seat_Comfort                 61
Seat_Class                    0
Arrival_Time_Convenient    8930
Catering                   8741
Platform_Location            30
Onboard_Wifi_Service         30
Onboard_Entertainment        18
Online_Support               91
Ease_of_Online_Booking       73
Onboard_Service            7601
Legroom                      90
Baggage_Handling            142
CheckIn_Service              77
Cleanliness                   6
Online_Boarding               6
dtype: int64

#### Travel Data Train

In [ ]:
travel_data_train.head()

,ID,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,Female,Loyal Customer,43.0,Business Travel,Business,1061,77.0,119.0
3,98800004,Female,Loyal Customer,44.0,Business Travel,Business,780,13.0,18.0
4,98800005,Female,Loyal Customer,50.0,Business Travel,Business,1981,0.0,0.0

In [ ]:
travel_data_train.tail()

,ID,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
94374,98894375,Male,Loyal Customer,32.0,Business Travel,Business,1357,83.0,125.0
94375,98894376,Male,Loyal Customer,44.0,Business Travel,Business,592,5.0,11.0
94376,98894377,Male,NaN,63.0,Business Travel,Business,2794,0.0,0.0
94377,98894378,Male,Loyal Customer,16.0,Personal Travel,Eco,2744,0.0,0.0
94378,98894379,Male,Loyal Customer,54.0,NaN,Eco,2107,28.0,28.0

In [ ]:
travel_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  object
 2   Customer_Type            85428 non-null  object
 3   Age                      94346 non-null  float64
 4   Type_Travel              85153 non-null  object
 5   Travel_Class             94379 non-null  object
 6   Travel_Distance          94379 non-null  int64
 7   Departure_Delay_in_Mins  94322 non-null  float64
 8   Arrival_Delay_in_Mins    94022 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 6.5+ MB

In [ ]:
travel_data_train.describe()

,ID,Age,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
count,9.437900e+04,94346.000000,94379.000000,94322.000000,94022.000000
mean,9.884719e+07,39.419647,1978.888185,14.647092,15.005222
std,2.724501e+04,15.116632,1027.961019,38.138781,38.439409
min,9.880000e+07,7.000000,50.000000,0.000000,0.000000
25%,9.882360e+07,27.000000,1359.000000,0.000000,0.000000
50%,9.884719e+07,40.000000,1923.000000,0.000000,0.000000
75%,9.887078e+07,51.000000,2538.000000,12.000000,13.000000
max,9.889438e+07,85.000000,6951.000000,1592.000000,1584.000000

In [ ]:
travel_data_train.isnull().sum()

ID                            0
Gender                       77
Customer_Type              8951
Age                          33
Type_Travel                9226
Travel_Class                  0
Travel_Distance               0
Departure_Delay_in_Mins      57
Arrival_Delay_in_Mins       357
dtype: int64

#### Combining the Datasets

Note: the reason the train data set has 1 more column is becuase it includes the Overall Experience as well everything else should be the same. 
To do the training I think we might have to split the train data so we can perform supervised learning.

In [ ]:
comp_data_train = pd.merge(survey_data_train, travel_data_train, on="ID")
comp_data_train.head()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,...,Cleanliness,Online_Boarding,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,98800001,0,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,...,Needs Improvement,Poor,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,0,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,...,Good,Good,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,...,Excellent,Excellent,Female,Loyal Customer,43.0,Business Travel,Business,1061,77.0,119.0
3,98800004,0,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,...,Acceptable,Acceptable,Female,Loyal Customer,44.0,Business Travel,Business,780,13.0,18.0
4,98800005,1,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,...,Good,Good,Female,Loyal Customer,50.0,Business Travel,Business,1981,0.0,0.0

In [ ]:
comp_data_test = pd.merge(survey_data_test, travel_data_test, on="ID")
comp_data_test.head()

,ID,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,...,Cleanliness,Online_Boarding,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,99900001,Acceptable,Green Car,Acceptable,Acceptable,Manageable,Needs Improvement,Excellent,Good,Excellent,...,Excellent,Poor,Female,NaN,36.0,Business Travel,Business,532,0.0,0.0
1,99900002,Extremely Poor,Ordinary,Good,Poor,Manageable,Acceptable,Poor,Acceptable,Acceptable,...,Excellent,Acceptable,Female,Disloyal Customer,21.0,Business Travel,Business,1425,9.0,28.0
2,99900003,Excellent,Ordinary,Excellent,Excellent,Very Convenient,Excellent,Excellent,Excellent,Needs Improvement,...,Needs Improvement,Excellent,Male,Loyal Customer,60.0,Business Travel,Business,2832,0.0,0.0
3,99900004,Acceptable,Green Car,Excellent,Acceptable,Very Convenient,Poor,Acceptable,Excellent,Poor,...,Excellent,Poor,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,Excellent,Ordinary,Extremely Poor,Excellent,Needs Improvement,Excellent,Excellent,Excellent,Excellent,...,Excellent,Excellent,Male,Disloyal Customer,18.0,Business Travel,Business,1610,17.0,0.0

In [ ]:
comp_data_test.tail()

,ID,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,...,Cleanliness,Online_Boarding,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
35597,99935598,2.0,0,6.0,2.0,4.0,4.0,2.0,4.0,4.0,...,5.0,4.0,2.0,1.0,8.0,1.0,1,1334,0.0,0.0
35598,99935599,2.0,1,2.0,5.0,1.0,4.0,6.0,6.0,5.0,...,5.0,5.0,1.0,1.0,53.0,2.0,0,1772,0.0,0.0
35599,99935600,5.0,0,1.0,5.0,1.0,2.0,5.0,3.0,2.0,...,6.0,2.0,2.0,2.0,22.0,2.0,1,1180,0.0,0.0
35600,99935601,6.0,1,6.0,6.0,3.0,4.0,6.0,5.0,6.0,...,6.0,5.0,1.0,1.0,67.0,1.0,1,420,23.0,16.0
35601,99935602,5.0,1,4.0,5.0,4.0,3.0,5.0,3.0,3.0,...,5.0,3.0,2.0,NaN,20.0,1.0,1,1680,0.0,0.0

### Clean The Data

In [ ]:
comp_data_train.nunique()

ID                         94379
Overall_Experience             2
Seat_Comfort                   6
Seat_Class                     2
Arrival_Time_Convenient        6
Catering                       6
Platform_Location              6
Onboard_Wifi_Service           6
Onboard_Entertainment          6
Online_Support                 6
Ease_of_Online_Booking         6
Onboard_Service                6
Legroom                        6
Baggage_Handling               5
CheckIn_Service                6
Cleanliness                    6
Online_Boarding                6
Gender                         2
Customer_Type                  2
Age                           75
Type_Travel                    2
Travel_Class                   2
Travel_Distance             5210
Departure_Delay_in_Mins      437
Arrival_Delay_in_Mins        434
dtype: int64

In [ ]:
comp_data_test.isnull().sum()

ID                            0
Seat_Comfort                 22
Seat_Class                    0
Arrival_Time_Convenient    3325
Catering                   3357
Platform_Location            12
Onboard_Wifi_Service         12
Onboard_Entertainment         8
Online_Support               26
Ease_of_Online_Booking       18
Onboard_Service            2872
Legroom                      25
Baggage_Handling             40
CheckIn_Service              22
Cleanliness                   2
Online_Boarding               2
Gender                       30
Customer_Type              3383
Age                          11
Type_Travel                3448
Travel_Class                  0
Travel_Distance               0
Departure_Delay_in_Mins      29
Arrival_Delay_in_Mins       123
dtype: int64

In [ ]:
# setting the ordering for the ordinal encoder 0 = nan, 1 = Extremely Poor, 2 = Needs Improvement ... 6 = Excellent
cat_list = comp_data_train["Seat_Comfort"].unique().tolist()
cat_list.insert(0, cat_list.pop(5))
cat_list.insert(0, cat_list.pop(6))
print(cat_list)

[nan, 'Extremely Poor', 'Needs Improvement', 'Poor', 'Acceptable', 'Good', 'Excellent']

In [ ]:
comp_data_train["Seat_Comfort"].value_counts()

Acceptable           21158
Needs Improvement    20946
Good                 20595
Poor                 15185
Excellent            12971
Extremely Poor        3463
Name: Seat_Comfort, dtype: int64

In [ ]:
ondi = OrdinalEncoder(categories = [cat_list])
ondi.fit(comp_data_train[["Seat_Comfort"]])
comp_data_train[["Seat_Comfort"]] = ondi.transform(comp_data_train[["Seat_Comfort"]])

In [ ]:
# now we are going to apply this encoding to the rest of the data set
# we might need to do this to the test set as well, but later
ondi.fit(comp_data_train[["Arrival_Time_Convenient"]])
comp_data_train[["Arrival_Time_Convenient"]] = ondi.transform(comp_data_train[["Arrival_Time_Convenient"]])
ondi.fit(comp_data_train[["Catering"]])
comp_data_train[["Catering"]] = ondi.transform(comp_data_train[["Catering"]])
ondi.fit(comp_data_train[["Onboard_Wifi_Service"]])
comp_data_train[["Onboard_Wifi_Service"]] = ondi.transform(comp_data_train[["Onboard_Wifi_Service"]])
ondi.fit(comp_data_train[["Onboard_Entertainment"]])
comp_data_train[["Onboard_Entertainment"]] = ondi.transform(comp_data_train[["Onboard_Entertainment"]])
ondi.fit(comp_data_train[["Online_Support"]])
comp_data_train[["Online_Support"]] = ondi.transform(comp_data_train[["Online_Support"]])
ondi.fit(comp_data_train[["Ease_of_Online_Booking"]])
comp_data_train[["Ease_of_Online_Booking"]] = ondi.transform(comp_data_train[["Ease_of_Online_Booking"]])
ondi.fit(comp_data_train[["Onboard_Service"]])
comp_data_train[["Onboard_Service"]] = ondi.transform(comp_data_train[["Onboard_Service"]])
ondi.fit(comp_data_train[["Legroom"]])
comp_data_train[["Legroom"]] = ondi.transform(comp_data_train[["Legroom"]])
ondi.fit(comp_data_train[["Baggage_Handling"]])
comp_data_train[["Baggage_Handling"]] = ondi.transform(comp_data_train[["Baggage_Handling"]])
ondi.fit(comp_data_train[["CheckIn_Service"]])
comp_data_train[["CheckIn_Service"]] = ondi.transform(comp_data_train[["CheckIn_Service"]])
ondi.fit(comp_data_train[["Cleanliness"]])
comp_data_train[["Cleanliness"]] = ondi.transform(comp_data_train[["Cleanliness"]])
ondi.fit(comp_data_train[["Online_Boarding"]])
comp_data_train[["Online_Boarding"]] = ondi.transform(comp_data_train[["Online_Boarding"]])

In [ ]:
ondi.fit(comp_data_test[["Seat_Comfort"]])
comp_data_test[["Seat_Comfort"]] = ondi.transform(comp_data_test[["Seat_Comfort"]])
ondi.fit(comp_data_test[["Arrival_Time_Convenient"]])
comp_data_test[["Arrival_Time_Convenient"]] = ondi.transform(comp_data_test[["Arrival_Time_Convenient"]])
ondi.fit(comp_data_test[["Catering"]])
comp_data_test[["Catering"]] = ondi.transform(comp_data_test[["Catering"]])
ondi.fit(comp_data_test[["Onboard_Wifi_Service"]])
comp_data_test[["Onboard_Wifi_Service"]] = ondi.transform(comp_data_test[["Onboard_Wifi_Service"]])
ondi.fit(comp_data_test[["Onboard_Entertainment"]])
comp_data_test[["Onboard_Entertainment"]] = ondi.transform(comp_data_test[["Onboard_Entertainment"]])
ondi.fit(comp_data_test[["Online_Support"]])
comp_data_test[["Online_Support"]] = ondi.transform(comp_data_test[["Online_Support"]])
ondi.fit(comp_data_test[["Ease_of_Online_Booking"]])
comp_data_test[["Ease_of_Online_Booking"]] = ondi.transform(comp_data_test[["Ease_of_Online_Booking"]])
ondi.fit(comp_data_test[["Onboard_Service"]])
comp_data_test[["Onboard_Service"]] = ondi.transform(comp_data_test[["Onboard_Service"]])
ondi.fit(comp_data_test[["Legroom"]])
comp_data_test[["Legroom"]] = ondi.transform(comp_data_test[["Legroom"]])
ondi.fit(comp_data_test[["Baggage_Handling"]])
comp_data_test[["Baggage_Handling"]] = ondi.transform(comp_data_test[["Baggage_Handling"]])
ondi.fit(comp_data_test[["CheckIn_Service"]])
comp_data_test[["CheckIn_Service"]] = ondi.transform(comp_data_test[["CheckIn_Service"]])
ondi.fit(comp_data_test[["Cleanliness"]])
comp_data_test[["Cleanliness"]] = ondi.transform(comp_data_test[["Cleanliness"]])
ondi.fit(comp_data_test[["Online_Boarding"]])
comp_data_test[["Online_Boarding"]] = ondi.transform(comp_data_test[["Online_Boarding"]])

In [ ]:
loc_list = comp_data_train["Platform_Location"].unique().tolist()
loc_list.insert(0, loc_list.pop(4))
loc_list.insert(0, loc_list.pop(3))
loc_list.insert(0, loc_list.pop(4))
loc_list.insert(0, loc_list.pop(6))
loc_list.insert(0, loc_list.pop(5))
loc_list.insert(0, loc_list.pop(6))
print(loc_list)

[nan, 'Needs Improvement', 'Very Inconvenient', 'Inconvenient', 'Manageable', 'Convenient', 'Very Convenient']

In [ ]:
ondi = OrdinalEncoder(categories = [loc_list])
ondi.fit(comp_data_train[["Platform_Location"]])
comp_data_train[["Platform_Location"]] = ondi.transform(comp_data_train[["Platform_Location"]])
ondi.fit(comp_data_test[["Platform_Location"]])
comp_data_test[["Platform_Location"]] = ondi.transform(comp_data_test[["Platform_Location"]])

In [ ]:
labelE = LabelEncoder()
labelE.fit(comp_data_train["Seat_Class"].unique().tolist())
comp_data_train["Seat_Class"] = labelE.transform(comp_data_train["Seat_Class"])
#labelE.fit(comp_data_test["Seat_Class"].unique().tolist())
comp_data_test["Seat_Class"] = labelE.transform(comp_data_test["Seat_Class"])

In [ ]:
gen_list = comp_data_train["Gender"].unique().tolist()
gen_list.insert(0, gen_list.pop(2))
ondi = OrdinalEncoder(categories = [gen_list])
ondi.fit(comp_data_train[["Gender"]])
comp_data_train[["Gender"]] = ondi.transform(comp_data_train[["Gender"]])
ondi.fit(comp_data_test[["Gender"]])
comp_data_test[["Gender"]] = ondi.transform(comp_data_test[["Gender"]])

In [ ]:
ele_list = comp_data_train["Customer_Type"].unique().tolist()
ele_list.insert(0, ele_list.pop(2))
ondi = OrdinalEncoder(categories = [ele_list])
ondi.fit(comp_data_train[["Customer_Type"]])
comp_data_train[["Customer_Type"]] = ondi.transform(comp_data_train[["Customer_Type"]])
ondi.fit(comp_data_test[["Customer_Type"]])
comp_data_test[["Customer_Type"]] = ondi.transform(comp_data_test[["Customer_Type"]])

In [ ]:
ele_list = comp_data_train["Type_Travel"].unique().tolist()
ondi = OrdinalEncoder(categories = [ele_list])
ondi.fit(comp_data_train[["Type_Travel"]])
comp_data_train[["Type_Travel"]] = ondi.transform(comp_data_train[["Type_Travel"]])
ondi.fit(comp_data_test[["Type_Travel"]])
comp_data_test[["Type_Travel"]] = ondi.transform(comp_data_test[["Type_Travel"]])

In [ ]:
labelE.fit(comp_data_train["Travel_Class"].unique().tolist())
comp_data_train["Travel_Class"] = labelE.transform(comp_data_train["Travel_Class"])
comp_data_test["Travel_Class"] = labelE.transform(comp_data_test["Travel_Class"])

In [ ]:
# to satisfy the condition for labelEncoding we will fill the Nan values with 0 and turn them back later for imputation
# or that was the plan but if all nan values to be zero we have to do this all like ordinalencoding
#comp_data_train.fillna(0, inplace=True)
# now we cover the rest of the categorical variables (seat_class, gender, customer_type,Type_Travel, Travel_class )
# we don't really care about the ordering of these variables so we use the regular label encoder
#ele_list = comp_data_train["Type_Travel"].unique().tolist()
#ondi = OrdinalEncoder(categories = [ele_list])
#ondi.fit(comp_data_train[["Type_Travel"]])
#comp_data_train[["Type_Travel"]] = ondi.transform(comp_data_train[["Type_Travel"]])
comp_data_test.head()

,ID,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,...,Cleanliness,Online_Boarding,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,99900001,4.0,0,4.0,4.0,4.0,2.0,6.0,5.0,6.0,...,6.0,3.0,1.0,NaN,36.0,2.0,0,532,0.0,0.0
1,99900002,1.0,1,5.0,3.0,4.0,4.0,3.0,4.0,4.0,...,6.0,4.0,1.0,2.0,21.0,2.0,0,1425,9.0,28.0
2,99900003,6.0,1,6.0,6.0,6.0,6.0,6.0,6.0,2.0,...,2.0,6.0,2.0,1.0,60.0,2.0,0,2832,0.0,0.0
3,99900004,4.0,0,6.0,4.0,6.0,3.0,4.0,6.0,3.0,...,6.0,3.0,1.0,1.0,29.0,1.0,1,1352,0.0,0.0
4,99900005,6.0,1,1.0,6.0,1.0,6.0,6.0,6.0,6.0,...,6.0,6.0,2.0,2.0,18.0,2.0,0,1610,17.0,0.0

I am not sure how but the Nan values were excluded from the encoding some how

In [ ]:
comp_data_train.isnull().sum()

ID                            0
Overall_Experience            0
Seat_Comfort                 61
Seat_Class                    0
Arrival_Time_Convenient    8930
Catering                   8741
Platform_Location            30
Onboard_Wifi_Service         30
Onboard_Entertainment        18
Online_Support               91
Ease_of_Online_Booking       73
Onboard_Service            7601
Legroom                      90
Baggage_Handling            142
CheckIn_Service              77
Cleanliness                   6
Online_Boarding               6
Gender                       77
Customer_Type              8951
Age                          33
Type_Travel                9226
Travel_Class                  0
Travel_Distance               0
Departure_Delay_in_Mins      57
Arrival_Delay_in_Mins       357
dtype: int64

Now we should be able to imput all of the missing values since there are less than 10% missing from any column

In [ ]:
comp_data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_Comfort             94318 non-null  float64
 3   Seat_Class               94379 non-null  int64
 4   Arrival_Time_Convenient  85449 non-null  float64
 5   Catering                 85638 non-null  float64
 6   Platform_Location        94349 non-null  float64
 7   Onboard_Wifi_Service     94349 non-null  float64
 8   Onboard_Entertainment    94361 non-null  float64
 9   Online_Support           94288 non-null  float64
 10  Ease_of_Online_Booking   94306 non-null  float64
 11  Onboard_Service          86778 non-null  float64
 12  Legroom                  94289 non-null  float64
 13  Baggage_Handling         94237 non-null  float64
 14  CheckIn_Service          94302 non-null  float64
 15  Cleanliness              94373 non-null  float64
 16  Online_Boarding          94373 non-null  float64
 17  Gender                   94302 non-null  float64
 18  Customer_Type            85428 non-null  float64
 19  Age                      94346 non-null  float64
 20  Type_Travel              85153 non-null  float64
 21  Travel_Class             94379 non-null  int64
 22  Travel_Distance          94379 non-null  int64
 23  Departure_Delay_in_Mins  94322 non-null  float64
 24  Arrival_Delay_in_Mins    94022 non-null  float64
dtypes: float64(20), int64(5)
memory usage: 18.7 MB

We can now impute the rest of the Nan Values

In [ ]:
imputor = KNNImputer(n_neighbors=5)
temp = imputor.fit_transform(comp_data_train)

KeyboardInterrupt: ignored

In [ ]:
data_complete = pd.DataFrame(temp, columns=comp_data_train.columns)

In [ ]:
data_complete.isnull().sum()

In [ ]:
data_complete.to_csv("complete_dataset_training.csv")

In [ ]:
data_complete = pd.read_csv("complete_dataset_training.csv")

In [ ]:
imputor = KNNImputer(n_neighbors=5)
temp2 = imputor.fit_transform(comp_data_test)

In [ ]:
data_complete_test = pd.DataFrame(temp2, columns=comp_data_test.columns)

In [ ]:
data_complete_test.isnull().sum()

ID                         0
Seat_Comfort               0
Seat_Class                 0
Arrival_Time_Convenient    0
Catering                   0
Platform_Location          0
Onboard_Wifi_Service       0
Onboard_Entertainment      0
Online_Support             0
Ease_of_Online_Booking     0
Onboard_Service            0
Legroom                    0
Baggage_Handling           0
CheckIn_Service            0
Cleanliness                0
Online_Boarding            0
Gender                     0
Customer_Type              0
Age                        0
Type_Travel                0
Travel_Class               0
Travel_Distance            0
Departure_Delay_in_Mins    0
Arrival_Delay_in_Mins      0
dtype: int64

In [ ]:
data_complete_test.to_csv("complete_dataset_test.csv")

In [ ]:
def histogram_boxplot(feature, figsize = (15, 10), bins = None):
    
    """ Boxplot and histogram combined
    
    feature: 1-d feature array
    
    figsize: size of fig (default (9, 8))
    
    bins: number of bins (default None / auto)
    
    """
    f2, (ax_box2, ax_hist2) = plt.subplots(nrows = 2, # Number of rows of the subplot grid = 2
                                           sharex = True, # X-axis will be shared among all subplots
                                           gridspec_kw = {"height_ratios": (.25, .75)}, 
                                           figsize = figsize 
                                           ) # Creating the 2 subplots
    
    sns.boxplot(feature, ax = ax_box2, showmeans = True, color = 'violet') # Boxplot will be created and a symbol will indicate the mean value of the column
    
    sns.distplot(feature, kde = F, ax = ax_hist2, bins = bins, palette = "winter") if bins else sns.distplot(feature, kde = False, ax = ax_hist2) # For histogram
    
    ax_hist2.axvline(np.mean(feature), color = 'green', linestyle = '--') # Add mean to the histogram
    
    ax_hist2.axvline(np.median(feature), color = 'black', linestyle = '-') # Add median to the histogram

In [ ]:
data_complete.head()

In [ ]:
histogram_boxplot(data_complete["Age"])

In [ ]:
histogram_boxplot(data_complete["Travel_Distance"])

In [ ]:
histogram_boxplot(data_complete["Departure_Delay_in_Mins"])

In [ ]:
data_complete["log_departure_delay"] = np.log10(data_complete["Departure_Delay_in_Mins"])
data_complete.replace([np.inf, -np.inf], 0, inplace=True)
data_complete.clip(lower=0, inplace=True)
data_complete.sort_values(by='log_departure_delay',ascending=True).head(10)
histogram_boxplot(data_complete["log_departure_delay"])

In [ ]:
histogram_boxplot(data_complete["Arrival_Delay_in_Mins"])

In [ ]:
data_complete["log_arrival_delay"] = np.log(data_complete["Arrival_Delay_in_Mins"])
histogram_boxplot(data_complete["log_arrival_delay"])

In [ ]:
alter_data_train = pd.read_csv("complete_dataset_training.csv")
alter_data_test = pd.read_csv("complete_dataset_test.csv")

In [ ]:
alter_data_train.head()

,Unnamed: 0,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,...,Cleanliness,Online_Boarding,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,0,98800001.0,0.0,2.0,0.0,6.0,6.0,6.0,5.0,2.0,...,2.0,3.0,1.0,1.0,52.0,1.8,0.0,272.0,0.0,5.0
1,1,98800002.0,0.0,3.0,1.0,6.0,3.0,1.0,5.0,3.0,...,5.0,5.0,2.0,1.0,48.0,1.0,1.0,2200.0,9.0,0.0
2,2,98800003.0,1.0,2.0,0.0,2.0,2.0,1.0,2.0,5.0,...,6.0,6.0,1.0,1.0,43.0,2.0,0.0,1061.0,77.0,119.0
3,3,98800004.0,0.0,4.0,1.0,2.0,4.4,1.0,4.0,2.0,...,4.0,4.0,1.0,1.0,44.0,2.0,0.0,780.0,13.0,18.0
4,4,98800005.0,1.0,4.0,1.0,4.0,4.0,4.0,2.0,5.0,...,5.0,5.0,1.0,1.0,50.0,2.0,0.0,1981.0,0.0,0.0

In [ ]:
alter_data_train["Travel_Distance"] = np.log10(alter_data_train["Travel_Distance"])

In [ ]:
alter_data_test["Travel_Distance"] = np.log10(alter_data_test["Travel_Distance"])

In [ ]:
alter_data_train.to_csv("complete_dataset2_training.csv")

In [ ]:
alter_data_test.to_csv("complete_dataset2_test.csv")

In [ ]:
alter_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               94379 non-null  int64
 1   ID                       94379 non-null  float64
 2   Overall_Experience       94379 non-null  float64
 3   Seat_Comfort             94379 non-null  float64
 4   Seat_Class               94379 non-null  float64
 5   Arrival_Time_Convenient  94379 non-null  float64
 6   Catering                 94379 non-null  float64
 7   Platform_Location        94379 non-null  float64
 8   Onboard_Wifi_Service     94379 non-null  float64
 9   Onboard_Entertainment    94379 non-null  float64
 10  Online_Support           94379 non-null  float64
 11  Ease_of_Online_Booking   94379 non-null  float64
 12  Onboard_Service          94379 non-null  float64
 13  Legroom                  94379 non-null  float64
 14  Baggage_Handling         94379 non-null  float64
 15  CheckIn_Service          94379 non-null  float64
 16  Cleanliness              94379 non-null  float64
 17  Online_Boarding          94379 non-null  float64
 18  Gender                   94379 non-null  float64
 19  Customer_Type            94379 non-null  float64
 20  Age                      94379 non-null  float64
 21  Type_Travel              94379 non-null  float64
 22  Travel_Class             94379 non-null  float64
 23  Travel_Distance          94379 non-null  float64
 24  Departure_Delay_in_Mins  94379 non-null  float64
 25  Arrival_Delay_in_Mins    94379 non-null  float64
dtypes: float64(25), int64(1)
memory usage: 18.7 MB